<p id="notice"><%= notice %></p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1478720568477-152d9b164e26?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <div class="container">
    <h1>Save all your favorite movies into lists!</h1>
  </div>
</div>


<div class="container mb-3">
  <div class="cards mb-3">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path(list.photo.key,
           crop: :fill) %>');">
        <div class="container">
          <h1><%= link_to list.name, list, class: "link-light" %></h1>
        </div>
      </div>
    <% end %>
  </div>
</div>
